/* classic dropdowns */
details.dropdown {
    user-select: none;
    margin: 0.5rem 0;
}

details.dropdown > summary::-webkit-details-marker {
    display: none;
}

details.dropdown > summary::before {
    content: "⯆";
    position: relative;
    margin-right: -0.9rem;
    top: -0.125rem;
    left: calc(100% - 1rem);
}

details.dropdown[open] > summary {
    font-weight: bold;
}

details.dropdown {
    background-color: #FFD0D0;
    border: solid 1px #D09090;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

details.dropdown details.dropdown {
    background-color: #FFFFD0;
    border: solid 1px #D0D090;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 0;
}

details.dropdown a {
    padding: 0.5rem 0;
    text-decoration: none;
    display: block;
}

/* internal dropdowns */
details.dropdown details.dropdown > summary {
    background-color: inherit;
    border: inherit;
    border-radius: 0;
    padding: 0;
}